{{ include('Includes/SideBar.twig') }}
<div class="content-container unit size3of4 lastUnit">
	<article>
		<h1>{{ model.Title }}</h1>
		<div class="content">{{ model.Content }}</div>
	</article>
        Forms would go here
</div>
